<body>
    <div id="container" class="{{theme}}">
        <header>
            <h1>Interesting links</h1>
        </header>
        <ul class="main">
            {{#each categories}}
                {{> category}}
            {{/each}}
        </ul>
        <div class="banner">
          {{#if currentUser}}
            <div class="options" id="addLink">
              <i class="fa fa-plus-circle" id="addLink"></i>
            </div>
          {{/if}}
          <div class="options user">
            {{> loginButtons}}
          </div>
          <div class="options">
            {{> appTheme}}
          </div>
          <div id="showLink">
            {{> input}}
          </div>
        </div>
    </div>
</body>
