<template name="category">
    <ul class="category">
        <li class="category">
            <!-- <div class="owner">{{owner}}</div> -->
            {{#if is_owner}}
                <button onclick="" class="delete">&times;</button>
            {{/if}}
            {{name}}
        </li>
        {{#each links}}
            {{> link}}
        {{/each}}
    </ul>
</template>
