<template name="input">
    <div id="input">
        {{#if categoriesNumber}}
            <form class="new-link" autocomplete="off">
                <div class="close" id="addLink">
                  <i class="fa fa-times" id="addLink"></i>
                </div>
                <h2>Add link</h2>
                <input type="text" name="link" placeholder="http(s)://..." />
                <input type="text" name="description" placeholder="description" />
                <select name="category">
                    {{#each categories}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
                <input class="submitBtn" type="submit" value="Add" />
            </form>
        {{/if}}
        <form class="new-category" autocomplete="off">
            <h2>Add category</h2>
            <span>
                <input type="text" name="name" placeholder="category name">
            </span>
            <input class="submitBtn" type="submit" value="Add" />
        </form>
    </div>
</template>
